.song-play{
  color: dodgerblue;
  padding: 5px;
  margin: 15px;
  transition: 0.5s;
  text-decoration: none;
  font-size: 20;
  font-family: 'Rock Salt', cursive;
}
.song-play:visited{
  color: dodgerBlue;
}
.song-play:hover{
  color: royalblue;
  background-color: deepskyBlue

}
.song-play:active{
  color: dodgerBlue;
}
.album-cover{
  transition: 0.5s;
  
  flex: 1;
}
.album-cover:hover{
  opacity: 0.3;
}
.position{
font-size: 20;
font-family: 'Rock Salt', cursive;

flex: 1;
}
.artist{font-size: 20;
font-family: 'Rock Salt', cursive;
flex: 1;}
.song{font-size: 20;
font-family: 'Rock Salt', cursive;
flex: 1;}

.flex-grid {
  display: flex;
}
.player{
  flex:1;
}
